

body {
  background-color: GoldenRod;
text-align: center;
font-family: 'Courier Prime', monospace;
font-style: regular;
}

h1{
  color:  DarkSlateGrey;
}

/* unvisited link */
a:link {
  color: SlateGrey;
}

/* visited link */
a:visited {
  color: DarkSlateGrey;
}
p{
  padding: 20%;
}


