h1{
  font-color:  DarkSlateGrey;
}

body {
  background-color: GoldenRod;
text-align: center;
font-family: 'Courier Prime', monospace;
font-style: regular;

}


/* unvisited link */
a:link {
  color: SlateGrey;
}

/* visited link */
a:visited {
  color: DarkSlateGrey;
}



