body {
  background-color: GoldenRod;
text-align: center;
font-family: 'Courier Prime', monospace;
font-style: regular;
font:  DarkSlateGrey;



}

.post {
  display: block;
margin-left: auto;
margin-right: auto;
transform: scale(80%);
height: auto;


}

/* unvisited link */
a:link {
  color: SlateGrey;
}

/* visited link */
a:visited {
  color: DarkSlateGrey;
}



